/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #friends{
    /* background-color: rgb(151, 113, 66); */
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    gap:20px;
    margin-bottom: 25px;
 }

 .friends_cell {
    background-color: rgb(172, 172, 172);
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

 }

 .flex-around{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
 }

 .page-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
 }


 .friends_header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:20px;
   margin-bottom: 20px;
   
}

.friend-tile{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* justify-content: center; */
}